@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<h3>About our dealership</h3>

<p>Dusty Rusty Rides is dedicated to bringing the fans of rat rods and motorcycles together<br/>
    to help facilitate the buying, trading, and selling of custom rides.</p>
