@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Feedback and Bug Reporting</h3>

<address>
    SWG Develpoment Team<br />
    Akron, Ohio 44313<br />
    Phone: 555-367-9876
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>