
@{
    ViewBag.Title = "FunnyView";
}

<div class="frame">
    <div class="funnytext">
        <h2>My girlfriend said that this button should do something else</h2>
    </div>
    <img class="picture" src="~/Content/app/images/V__BF91.jpg" alt="ANDY"/>
</div>