
@{
    ViewBag.Title = "Index";
}

<h1>Welcome to the Human Resources Portal</h1>

<p>@Html.ActionLink("Applicants", "ListOfCompanies", "Applicants")</p>

<p>@Html.ActionLink("Admin", "ListOfCompaniesAdmin", "Admin")</p>


