
@{
    ViewBag.Title = "CustomDirective";
}

<h2>CustomDirective</h2>

<div ng-app="movieApp">
    <div ng-star-rating rating="MRating"></div>
</div>

@section scripts{
    <script src="~/scripts/app/customdirective.js"></script>
}