@model HRPortal.Models.Data.Company
@{
    ViewBag.Title = "AddCompany";
}

<h2>Add Company</h2>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Company Name</label>
                @Html.TextBoxFor(c => c.CompanyName, new { @class = "form-control", placeholder = "Company" })
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Add Company</button>
        }
    </div>
</div>