USE [master]
GO
/****** Object:  Database [TaskList]    Script Date: 7/28/16 11:52:09 AM ******/
CREATE DATABASE [TaskList]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskList', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TaskList.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TaskList_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TaskList_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskList].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskList]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 7/28/16 11:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tasks](
	[taskId] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](50) NOT NULL,
	[dateEntered] [date] NOT NULL,
	[dueDate] [date] NULL,
	[notes] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tasks] ON 

INSERT [dbo].[tasks] ([taskId], [description], [dateEntered], [dueDate], [notes]) VALUES (1, N'Complete DVD Library', CAST(N'2016-07-28' AS Date), CAST(N'2016-08-01' AS Date), NULL)
INSERT [dbo].[tasks] ([taskId], [description], [dateEntered], [dueDate], [notes]) VALUES (2, N'Write really big SQL', CAST(N'2016-07-25' AS Date), NULL, N'join 5 tables, list multiple columns')
SET IDENTITY_INSERT [dbo].[tasks] OFF
USE [master]
GO
